Name: Sifre Guncelleyici

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yukle
        run: pip install cloudscraper

      - name: Kodu Calistir
        run: python main.py

      - name: Degisiklikleri Kaydet
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # BURASI KRİTİK: Python kodunda open("...") içine ne yazdıysan o ismi kullanmalısın.
          # Eğer Python kodunda 'bulgar_iptv.m3u' yazıyorsa burayı da öyle yap:
          git add bulgar_iptv.m3u || git add liste.m3u 
          git commit -m "Otomatik Liste Guncellendi" || echo "Degisiklik yok"
          git push
