name: Sifre Guncelleyici
on:
  workflow_dispatch: # Sadece sen düğmeye basınca çalışır

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kodu Calistir
        run: python main.py

      - name: Dosyalari Zorla Yukle
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Manuel Guncelleme: $(date)" || echo "Degisiklik yok"
          git push origin main
