name: Kanal Listesi Guncelleyici

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Depoyu Kontrol Et
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Python Kurulumu
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # curl_cffi için 3.10+ daha kararlıdır

    - name: Kütüphaneleri Kur
      run: |
        pip install curl_cffi

    - name: Guncelle
      run: python main.py

    - name: GitHub'a Zorla Gönder
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add --all
        if git diff --staged --quiet; then
          echo "Değişiklik yok."
        else
          git commit -m "Liste guncellendi: $(date)"
          git push origin main
        fi
