name: Sifre Guncelleyici
on:
  workflow_dispatch:
  push:
    paths:
      - 'main.py'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kodu Calistir
        run: python main.py

      - name: Degisiklikleri Yukle
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add liste.m3u sifre.txt
          git commit -m "Liste Guncellendi" || echo "Degisiklik yok"
          git push
