name: Sifre Guncelleyici

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 * * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yukle
        run: pip install cloudscraper

      - name: Kodu Calistir
        run: python main.py

      - name: Degisiklikleri Kaydet
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # Klasördeki tüm .m3u dosyalarını ekle (Hata almamak için en garantisi budur)
          git add *.m3u 
          # Eğer değişiklik varsa commit yap, yoksa hata verme
          git commit -m "Otomatik Liste Guncellendi" || echo "Degisiklik yok, commit atlanıyor."
          git push
