name: Sifre Guncelleyici

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kutupahaneleri Kur
        run: pip install requests beautifulsoup4

      - name: Dosyalari Kontrol Et
        run: ls -R  # Bu komut hata olursa dosyaları listeler, sorunu anlarız

      - name: Kodu Calistir
        run: python main.py  # M harfini büyük yaptık
